.buttons--orange {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: rgba(233, 144, 6, .9);
  padding: 17px 45px;
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
  outline: 0;
  transition: background-color .1s ease;
  //width: 100%;
  max-width: 36.5rem;
  position: relative;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 4.5rem;
  box-shadow: 0px 3px 9.5px 0.5px rgba(255, 180, 0, 0.28);
  margin-left: 1rem;
  &:hover {
    background-color: rgba(233, 144, 6, 1);
  }
  &:after {
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #100900;
    opacity: .1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0;
  }
}

.buttons--dotted {
  display: inline-block;
  border: 2px dashed $orange;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 45px;
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  outline: 0;
  border-radius: 3px;
  max-width: 36.5rem;
  position: relative;
  margin-top: 3rem;
  margin-right: 1rem;
}

@media only screen and (max-width: $screen-xlg-max) {
  .buttons--orange, .buttons--dotted{
    margin-top: 1rem;
    font-size: 1.6rem;
    max-width: 33.5rem;
  }
}

@media only screen and (max-width: $screen-sm-max)  {
  .buttons--orange, .buttons--dotted{
    margin-right: 0;
    margin-left: 0;
    display: block;
    margin: 1.5rem auto 0;
    font-size: 1.4rem;
  }
}