.footer {
    background-color: $black;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    &_content {
        display: flex;
        justify-content: space-between;
    }
    &_content-left {
        span {
            text-decoration: underline;
        }
    }
    &_content-right {
        max-width: 54.5rem;
        margin: 0 0 0 auto;
        a {
            &:hover {
                text-decoration: underline
            }
        }
        span {
            font-weight: 600;
        }
    }
    &_bottom {
        margin-top: 3rem;
    }
}
@media only screen and (max-width: $screen-sm-max) {
    .footer_content{
        flex-direction: column;
        text-align: center;
    }
    .footer_content-right{
        max-width: 100%;

    }
    .footer_content-right{
        margin-top: 2rem;
    }
    .footer_bottom{
        text-align: center;
    }
}