.about-us {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -18rem;
  position: relative;
  z-index: 5;
  &_content {
    margin-top: 20rem;
    margin-bottom: 8rem;

  }
  &_subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: -2rem;
    text-align: center;
  }

  &_video {

    position: relative;
    padding-bottom: 47%;
    max-width: 87rem;
    // height: 0;
    margin: 0 auto;
    width: 100%;
    // padding-top: 35rem;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
    }
  }
  &_advantages-item {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    font-weight: 500;
    font-size: 1.8rem;
    span {
      font-size: 2.9rem;
      text-transform: uppercase;
      font-family: $title-font;
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }
  &_advantages-left {
    max-width: 47.5rem;
    span {
      color: #f2470a;

    }
  }
  &_advantages-right {
    max-width: 55.5rem;
    span {
      color: #91ca24;

    }
  }
  &_advantages {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: $screen-xlg-max) {
  .about-us{
    background-position: 0%;
    position: static;
  }
}
@media only screen and (max-width: $screen-md-max) {
  .about-us_advantages{
    flex-direction: column;
  }
  .about-us_advantages-left, .about-us_advantages-right{
    margin: 0 auto;
    max-width: 51rem;

  }
  .about-us_advantages-item{
    margin-top: 1.5rem;
  }
  .about-us_video{
    padding-bottom: 60%;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .about-us_video{
    padding-bottom: 60%;
  }
  .about-us_subtitle{
    margin-top: -1rem;
    font-size: 1.6rem;
  }
}