.section {
    padding: 4rem 0;
    hr {
        border: none;
        padding: 0;
        border-bottom: .1rem solid #4d4d4d;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.bg-light-blue {
    background-color: $blue-200;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}